html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
.card-image img{
	height:250px;
}
#maxiSize{
	margin-top:5px;
}
.maximizer{
    max-width: 100%;
    max-height: 100%;
}
nav{
background-color:#111a46 !important;
}
.page-footer{
	background-color:#111a46 !important;
	}
.page-footer.footer-fixed {
   
    bottom: 0;
    width: 100%;
}

